<!-- begin chat-btns -->
<div class="chat-btns">
  <div class="chat-btns__btn">
    {{ mixins.btn(
      title = mixins.icon('viber-logo') + 'Чат в Viber',
      mod = 'btn--soc btn--viber',
      href = 'viber://chat?number=380679996897'
    ) }}
  </div>
  <div class="chat-btns__btn">
    {{ mixins.btn(
      title = mixins.icon('whatsapp') + 'Чат в WhatsApp',
      mod = 'btn--soc btn--whatsapp',
      href = 'whatsapp://send?phone=380679996897'
    ) }}
  </div>
</div>
<!-- end chat-btns -->