{%set
faq = [
  {
    title: 'Как проходим границу?',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  },
  {
    title: 'На сколько комфортны автобусы?',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  },
  {
    title: 'Когда я могу забронировать билет?',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  },
  {
    title: 'Через какие промежутки времени остановки?',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  },
  {
    title: 'Сколько водителей в рейсе?',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  },
  {
    title: 'Какие условия провоза домашних животных',
    text: 'Границу переходим пешком, организованно группой в сопровождении сотрудника нашей компании. Буферная зона составляет 500 метров. Время прохождения границы составляет не больше часа.'
  }
]
%}

<!-- begin section -->
<section class="section section--lg section--bg js-lazy" data-scroll-to-target="faq" data-background-image="img/bg-faq.jpg">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="section__title">
          <h2 class="title">Часто задаваемые вопросы</h2>
          <div class="text">У каждого, кто отправляется в Крым впервые, перед поездкой возникают различные вопросы. Ниже вы найдете ответы на самые популярные из них:</div>
        </div>
      </div>
    </div>

    <!-- begin faq -->
    <div class="faq js-accordion js-grid">
      {% for i in faq %}
      <div class="question__wrap js-grid-item">
        <!-- begin question -->
        <div class="question">
          <a href="#" class="question__title js-accordion-title">{{ mixins.icon('question') }} {{ i.title }}</a>
          <div class="question__text js-accordion-content">{{ i.text }}</div>
        </div>
        <!-- end question -->
      </div>
      
      {% endfor %}
    </div>
    <!-- end faq -->   
  </div>
</section>
<!-- end section -->