{%set
form = [
  { name: 'input', type: 'text', placeholder: 'ФИО', fieldClass: '' },
  { name: 'input', type: 'tel', placeholder: 'Телефон', fieldClass: '' },
  { name: 'input', type: 'text', placeholder: 'Количество мест' },
  { name: 'select',
    type: 'default',
    placeholder: '',
    fieldClass: 'js-select',
    options: [
      { option: 'Маршрут', value: 'placeholder' },
      { option: 'Маршрут1', value: '1' },
      { option: 'Маршрут2', value: '2' },
      { option: 'Маршрут3', value: '3' }
    ] 
  },
  { name: 'input', type: 'text', placeholder: 'Дата', fieldClass: 'js-date-input', fieldAttributes: { 'data-type': 'date' } }
]
%}

<!-- begin section -->
<section class="section section--bg section--lg js-lazy" data-scroll-to-target="form" data-background-image="img/bg-form.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-6">
        <div class="section__center-block">
          <h2 class="title title--white">Уже решили, куда отправитесь?</h2>
          <div class="text text--white">Звоните по телефонам ниже или оставьте заявку в форме.</div>

          <!-- begin contacts -->
          <div class="contacts">
            <ul class="contacts__list">
              <li class="contacts__item"><a href="tel:+380669996897" class="contacts__link phone phone--lg">{{ mixins.icon('phone-call') }}(066) 999 68 97</a></li>
              <li class="contacts__item"><a href="tel:+79785012380" class="contacts__link phone phone--lg">{{ mixins.icon('phone-call') }}(063) 999 68 97</a></li>
            </ul>

            <ul class="contacts__list">
              <li class="contacts__item"><a href="tel:+79785012380" class="contacts__link phone phone--lg">{{ mixins.icon('phone') }} {{ mixins.icon('viber') }}+7978 501 23 80</a></li>
              <li class="contacts__item"><a href="tel:+79787218824" class="contacts__link phone phone--lg">{{ mixins.icon('phone') }} {{ mixins.icon('viber') }}+7978 721 88 24</a></li>
              <li class="contacts__item"><a href="tel:+380679996897" class="contacts__link phone phone--lg">{{ mixins.icon('phone') }} {{ mixins.icon('viber') }}(067) 999 68 97</a></li>
            </ul>
          </div>
          <!-- end contacts -->
        </div>
      </div>

      <div class="col-xl-5 col-lg-6">
        <!-- begin form -->
        <div class="form">
          <form>
            <div class="form__title">
              <h3 class="h3">Форма бронирования</h3>
            </div>

            <div class="form__subttl">Оставьте ваши данные ниже и мы свяжемся с вами в ближайшее время</div>

            {% for i in form %}
            <div class="form__field">
              {{ mixins.input(
                name = i.name,
                type = i.type,
                placeholder = i.placeholder,
                fieldClass = i.fieldClass,
                options = i.options,
                fieldAttributes = i.fieldAttributes
              ) }}
            </div>
            {% endfor %}

            <div class="form__btn">
              {{ mixins.btn(
                title = 'Забронировать место',
                href = false
              ) }}
            </div>

            <div class="form__bottom-text">{{ mixins.icon('lock') }} Ваши контактные данные не будут переданы третьим лицам</div>
          </form>
        </div>
        <!-- end form -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->