.contacts
  $this: &
  +flex()
  +xs
    display: block
  &__list
    width: 50%
    +xs
      width: auto
  &__item
    +notlast
      margin-bottom: 20px
      +md
        margin-bottom: 15px
      +sm
        margin-bottom: 5px
    .phone
      +md
        width: auto

  &--sm
    #{$this}__list
      width: auto
  &--header
    color: $white
    +flex(space-between, center)
    #{$this}__title
      margin-right: 30px
      +xs
        display: none
    #{$this}__item
      +notlast
        margin-bottom: 5px
    #{$this}__list
      +notlast
        margin-right: 30px
        +xs
          margin-right: 0
