.faq
  @extend .row

.question
  background-color: $white
  border-radius: $radius
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.07)
  margin-bottom: 30px

  &__wrap
    @extend .col-6
    &:nth-child(4)
      .question__text
        display: block
  &__title
    +flex(flex-start, center)
    color: $c-heading
    position: relative
    width: 100%
    padding: 45px
    padding-right: 65px
    +before
      +icon-arrow(8, 8, 1, currentColor, -45)
      position: absolute
      top: 50%
      transform: translate(0, -50%) rotate(-45deg)
      right: 45px
    .icon
      font-size: 30px
      margin-right: 12px
  &__text
    padding-left: 45px
    padding-right: 45px
    
    // display: none
    max-height: 0
    overflow: hidden
    padding-bottom: 0
    &.is-active
      max-height: none
      overflow: visible
      padding-bottom: 45px