.footer
  padding-top: 140px
  padding-bottom: 40px
  background-color: $c-heading
  +cover
  &__title
    margin-bottom: 40px
  &__bottom
    padding-top: 45px
    +flex(space-between, center)
  &__copy
    a
      text-decoration: underline
  &__contacts
    margin-bottom: 40px