.footer
  padding-top: 140px
  padding-bottom: 40px
  background-color: #0f1e4c
  &__title
    margin-bottom: 40px
  &__bottom
    padding-top: 45px
    +flex(space-between, center)
  &__copy
    a
      text-decoration: underline