.header
  $this: &
  &.is-fixed
    position: fixed
    z-index: 10
    left: 0
    right: 0
    top: 0
    background-color: $c-heading
    height: 118px
    #{$this}__top
      @extend .container
      border-bottom: 0
      padding-top: 15px
      padding-bottom: 15px
    #{$this}__bottom
      display: none
    #{$this}__nav
      display: none
    #{$this}__contacts
      +flex()
  &__contacts
    display: none
  &__logo
    +flex(flex-start, center)
    padding-top: 10px
    padding-bottom: 10px
  &__top
    border-bottom: 1px solid  #b5d0ff
    +flex(space-between)
  &__nav
    flex-grow: 1
    height: auto
    text-align: right
    padding-right: 20px
    +flex(flex-end, center)
  &__btn
    +flex(flex-start, center)
  &__bottom
    padding-top: 20px

.phones
  +flex(space-between, center)

.phone
  +flex(flex-start, center)
  color: $white
  +bold
  +tr(color .3s)
  +hover
    color: $accent
  .icon
    margin-right: 5px
    font-size: .8em
  &--lg
    font-size: $fz-lg
    .icon
  &--sm
    .phone__icon
      display: inline-block
      width: 45px
      margin-right: 5px
      text-align: center
      .icon
        margin: 0
  &--xs
    @extend .phone--sm
    .phone__icon
      margin-right: 0

